@charset "UTF-8";
	.title img{
		width: 100%;
	}
	.kpi-title{
		margin-top :40px;
		margin-bottom: 40px;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color:black;
	}
	.book-kpi ul{
		display:flex;
		justify-content : center;
		background-color: white;
	}
	.book-kpi ul li{
		width : 220px;
		height : 220px;
		margin-right : 60px;
		margin-bottom: 30px;
	}
	.introduce-self-part ul {
		margin-bottom: 80px;
	}
	.introduce-self-part ul img{
		width: 231px;
		height :231px;
		border: 1px solid black;
		margin-right: 50px;
		border-radius: 10px;
		background-color: #fff
	}
	.introduce-self-part ul li{
		 display: flex;
		/* float: left; */
		padding-right: 20px;
	}
	.intoduce-main-title{
		margin-top :80px;
		margin-bottom: 160px;
		text-align: center;
		font-size: 30px;
		font-weight : bold;
		color:black;
	}
	.introduce-sub-title1, .introduce-sub-title2, .introduce-sub-title3{
		font-size: 20px;
		font-weight: bold;
		color: black;
	}
