   @font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }
.content_area h1 {
    font-family: 'GmarketSansLight';
    font-weight: bold;
    font-size: 30px;
    background-color: burlywood;
    width: 100%;
    padding: 0px;
}
.content_area h2 {
    font-family: 'GmarketSansLight';
    font-size: 20px;
    font-weight: bold;
}
.content_area table {
    border: none;
}
.content_area td {
    font-family: 'GmarketSansLight';
    font-weight: bold;
    font-size: 15px;
}
.content_area a {
    font-family: 'GmarketSansLight';
    font-weight: bold;
    font-size: 20px;
    color: sienna;
    cursor: pointer;
}